<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" data-ng-class="{'active': $ctrl.isActive('home')}">
				<a class="nav-link" data-ng-href="{{::$root.Uribuilder.getUri('home', 'index')}}">Home</a>
			</li>
			<li class="nav-item" data-ng-class="{'active': $ctrl.isActive('contact')}">
				<a class="nav-link" data-ng-href="{{::$root.Uribuilder.getUri('contact', 'index')}}">Contacts</a>
			</li>
			<li class="nav-item" data-ng-class="{'active': $ctrl.isActive('module2')}">
				<a class="nav-link" data-ng-href="{{::$root.Uribuilder.getUri('module2', 'index')}}">Module 2</a>
			</li>
		</ul>
	</div>
</nav>