<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item" data-ng-class="{'active': $ctrl.isActive('home')}">
			<a class="nav-link" data-ng-href="{{::$root.Uribuilder.getUri('home', 'index')}}">Home</a>
		</li>
		<li class="nav-item" data-ng-class="{'active': $ctrl.isActive('todo')}">
			<a class="nav-link" data-ng-href="{{::$root.Uribuilder.getUri('todo', 'index')}}">Todos</a>
		</li>
		<li class="nav-item" data-ng-class="{'active': $ctrl.isActive('contact')}">
			<a class="nav-link" data-ng-href="{{::$root.Uribuilder.getUri('contact', 'index')}}">Contacts</a>
		</li>
	</ul>
	<ul class="navbar-nav">
		<li class="nav-item">
			<a href=""
			   data-ng-click="$ctrl.logout()"
			   title="Logout"
			   class="nav-link">
				<i class="fa fa-sign-out"></i>
			</a>
		</li>
	</ul>
</nav>