<h1>Home</h1>

<hr />

<h2>Todos</h2>
<ul>
	<li>Support all fields of Todo Object</li>
	<li>Hardcoded Todos -> DB Todos</li>
	<li>Check what's wrong with autoclosed alerts' animation</li>
	<li>Allow sorting of Todos</li>
	<li>Allow CRUD of contacts</li>
	<li>Pagetitle Service</li>
	<li>i18n</li>
	<li>Settings for configuring CouchDB connection</li>
</ul>

<h2>Done</h2>
<ul>
	<li><del>Authentication / Login / Logout</del></li>
	<li><del>Add ToDo Module</del></li>
	<li><del>debug component</del></li>
	<li><del>Interfaces and Classes for Db Objects</del></li>
	<li><del>Integrate Alert Service</del></li>
</ul>