<h1>Home</h1>

<hr />

<h2>Todos</h2>
<ul>
	<li>Add ToDo Module</li>
	<li>Interfaces and Classes for Db Objects</li>
	<li>Allow CRUD of contacts</li>
	<li>Integrate Alert Service</li>
	<li>i18n</li>
	<li>debug component</li>
	<li>Settings for configuring CouchDB connection</li>
</ul>

<h2>Done</h2>
<ul>
	<li><del>Authentication / Login / Logout</del></li>
</ul>

<h2>Alert Tests</h2>
<button type="button" class="btn btn-info" data-ng-click="$ctrl.triggerAlert('INFO')">Info</button>
<button type="button" class="btn btn-success" data-ng-click="$ctrl.triggerAlert('SUCCESS')">Success</button>
<button type="button" class="btn btn-warning" data-ng-click="$ctrl.triggerAlert('WARNING')">Warning</button>
<button type="button" class="btn btn-danger" data-ng-click="$ctrl.triggerAlert('ERROR')">Error</button>