body {
	background-color: $gray-100;
}

gsc-app {
	& > [data-ng-switch] > [data-ng-switch-when] > .container {
		margin-top: 3.5 * $spacer;
		margin-bottom: 3 * $spacer;
		min-height: calc(100vh - #{6.5 * $spacer});
		padding-top: 1.75 * $spacer;
		background-color: $white;
	}
}