.gs-showonprint {
	display: none !important;
}

@media print {
	.gs-hideonprint {
		display: none !important;
	}

	.gs-showonprint {
		display: inherit !important;
	}

	::-webkit-input-placeholder {
		visibility: hidden;
	}
	:-moz-placeholder {
		visibility: hidden;
	}
	::-moz-placeholder {
		visibility: hidden;
	}
	:-ms-input-placeholder {
		visibility: hidden;
	}

	@import "../common/common.print";
}