<h1>Admin</h1>

<div class="row">
	<div class="col-2">
		<div class="nav flex-column nav-pills">
			<a class="nav-link" ui-sref="admin.tab1" ui-sref-active="active">Tab 1</a>
			<a class="nav-link" ui-sref="admin.tab2" ui-sref-active="active">Tab 2</a>
			<a class="nav-link" ui-sref="admin.tab3" ui-sref-active="active">Tab 3</a>
			<a class="nav-link" ui-sref="admin.tab4" ui-sref-active="active">Tab 4</a>
		</div>
	</div>
	<div class="col-10">
		<div class="tab-content">
			<ui-view class="tab-pane active" role="tabpanel"></ui-view>
		</div>
	</div>
</div>