<h1>Admin</h1>

<!--<uib-tabset>-->
	<!--<uib-tab index="0"-->
			 <!--data-heading="Tab 1"-->
			 <!--data-ui-sref="admin.tab1">-->
	<!--</uib-tab>-->
	<!--<uib-tab index="1"-->
			 <!--data-heading="Tab 2"-->
			 <!--data-ui-sref="admin.tab2">-->
	<!--</uib-tab>-->
	<!--<uib-tab index="2"-->
			 <!--data-heading="Tab 3"-->
			 <!--data-ui-sref="admin.tab3">-->
	<!--</uib-tab>-->
	<!--<uib-tab index="3"-->
			 <!--data-heading="Tab 4"-->
			 <!--data-ui-sref="admin.tab4">-->
	<!--</uib-tab>-->
<!--</uib-tabset>-->

<!--<ui-view></ui-view>-->

<div class="row">
	<div class="col-2">
		<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
			<a class="nav-link"
			   ui-sref-active="active"
			   data-toggle="pill"
			   data-ui-sref="admin.tab1"
			   role="tab"
			   aria-expanded="true">
				Tab 1
			</a>
			<a class="nav-link"
			   ui-sref-active="active"
			   data-toggle="pill"
			   data-ui-sref="admin.tab2"
			   role="tab"
			   aria-expanded="true">
				Tab 2
			</a>
			<a class="nav-link"
			   ui-sref-active="active"
			   data-toggle="pill"
			   data-ui-sref="admin.tab3"
			   role="tab"
			   aria-expanded="true">
				Tab 3
			</a>
			<a class="nav-link"
			   ui-sref-active="active"
			   data-toggle="pill"
			   data-ui-sref="admin.tab4"
			   role="tab"
			   aria-expanded="true">
				Tab 4
			</a>
		</div>
	</div>
	<div class="col-10">
		<div class="tab-content">
			<div class="tab-pane active" role="tabpanel" data-ui-view></div>
		</div>
	</div>
</div>
