gsc-todo-list {

	.gsc-col-index {
		width: 30px;
	}
	.gsc-col-state {
		width: 30px;
	}
	.gsc-col-title {
		width: 220px;
	}
	.gsc-col-description {
		width: auto;
	}
	.gsc-col-actions {
		width: 64px;
	}

	tr.gsc-todo-done > td {
		text-decoration: line-through;

		&:last-child {
			text-decoration: none;
		}
	}
}