<table class="table table-sm table-responsive table-hover">
	<thead>
	<tr>
		<th>#</th>
		<th>Title</th>
		<th>Description</th>
		<th>State</th>
		<th class="text-right"></th>
	</tr>
	</thead>
	<tbody>
	<tr data-immutable="$ctrl.todos" data-ng-repeat="todo in $ctrl.todos">
		<th scope="row">
			{{::$index}}
		</th>
		<td>
			<a data-ng-href="{{::$root.Uribuilder.getUri('todo', 'edit', todo._id)}}"
			   title="Edit Todo">
				{{::todo.title}}
			</a>
		</td>
		<td>
			{{::todo.description}}
		</td>
		<td>
			{{::todo.state}}
		</td>
		<td class="text-right">
			<a data-ng-href="{{::$root.Uribuilder.getUri('todo', 'edit', todo._id)}}"
			   title="Edit Todo"
			   class="badge badge-light">
				<i class="fa fa-pencil"></i>
			</a> |
			<a href=""
			   data-ng-click="$ctrl.deleteFn.emit(todo)"
			   title="Delete Todo"
			   class="badge badge-light">
				<i class="fa fa-trash"></i>
			</a>
		</td>
	</tr>
	</tbody>
</table>