<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>ng-metadata sample | Gregor Sondermeier</title>
</head>
<body>

	<ul>
		<li><a data-ng-href="{{$root.Uribuilder.getUri('home', 'index')}}">Home</a></li>
		<li><a data-ng-href="{{$root.Uribuilder.getUri('module1', 'index')}}">Module 1</a></li>
		<li><a data-ng-href="{{$root.Uribuilder.getUri('module2', 'index')}}">Module 2</a></li>
	</ul>

	<ng-view></ng-view>

	<link rel="stylesheet" href="./css/gs.css?<%- Date.now() %>">
	<script src="./js/vendor.js?<%- Date.now() %>"></script>
	<script src="./js/gs.js?<%- Date.now() %>"></script>
</body>
</html>