<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>ng-metadata sample | Gregor Sondermeier</title>
</head>
<body>
	<h1>ng-metadata sample</h1>
	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
		dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
		clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
		consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
		sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
		sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

	<link rel="stylesheet" href="./css/gs.css?<%- Date.now() %>">
	<script src="./js/vendor.js?<%- Date.now() %>"></script>
	<script src="./js/gs.js?<%- Date.now() %>"></script>
</body>
</html>